body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #ff5959;
    padding: 17px 30px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.defult-heading {
    color: #121212;
    font-size: 38px;
    font-weight: 900;
}

.defult-p {
    margin: 20px 60px;
}

/*--------------------Banner Section-------------------*/
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(images/donation10.jpg);
    padding: 220px 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.banner-text {
    width: 65%;
    margin: auto;
}

.banner-text h1 {
    font-size: 54px;
}

/*---------------------Donate Collect------------------*/
.donate-collect {
    padding: 80px 0;
    width: 60%;
    margin: auto;
    text-align: center;
}

.donate-collect p {
    margin: 30px 0;
    color: #797979;
}

.donate-quantity {
    display: flex;
    justify-content: center;
}

.donate-quantity span {
    background-color: #fafafa;
    margin: 20px 10px;
    color: #707070;
    width: 130px;
    height: 110px;
}

.donate-quantity h2 {
    margin-top: 40px;
    font-size: 29px;
}

.active {
    background-color: #ffeeee !important;
    color: #ff5959 !important;
    border-radius: 5px;
    border: 2px solid #ff5959;
}

.donate-collect h6 {
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 100;
    margin-top: 36px;
    padding-bottom: 14px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
}

/*----------------------Donate Plane----------------------*/
.donate-plane {
    padding: 80px 0;
}

.donate-plane h1 {
    text-align: center;
}

.donate-plane .wd-60 {
    text-align: center;
    margin: 15px 260px 50px;
    font-size: 18px;
    color: #939393;
}

.donate-planebox {
    display: flex;
    width: 1200px;
    margin: auto;
}

.box-1 {
    background-color: #edf5f6;
    width: 33%;
    margin-right: 20px;
    padding: 50px 25px;
    border-radius: 5px;
}

.box-2 {
    background-color: #ffeeee;
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 25px;
    border-radius: 5px;
}

.box-3 {
    background-color: #fff4d6;
    width: 33%;
    margin-left: 20px;
    padding: 50px 25px;
    border-radius: 5px;
}

.donate-planebox h1 {
    text-align: left;
    margin: 20px 0;
}

.donate-planebox p {
    color: #808080;
}